/1chan.conf
/instance-config.php
/scripts/cron.sh
/www/uploads
/app/views/static
node_modules
package-lock.json
1chan.generated.conf
.env
.osp
/www/smilies.json
/Nginx_*_vhost.conf
.DS_Store
/www/css/themes/normal.custom.css
/www/css/themes/omsk.custom.css
/www/img/custom/*
!/www/img/custom/index.html
/www/ico/homeboards/homeboards.json
www/ico/homeboards
www/img/smilies