<?php
// настройки подключения к базе MySQL
define('SQL_HOST', '127.0.0.1');
define('SQL_NAME', '<dbname>');
define('SQL_USER', '<username>');
define('SQL_PASSWORD', '<password>');
// настройки подключения к реалплексору
define('REALPLEXOR_HOST', '127.0.0.1');
define('REALPLEXOR_PORT', '10010');
// настройки подключения к редису
define('REDIS_HOST', '127.0.0.1');
define('REDIS_PORT', '6379');
// настройки подключения к индексатору
define('SPHINX_HOST', '127.0.0.1');
define('SPHINX_PORT', '3312');
// настройки общей чат-комнаты
define('COMMON_ROOM_CONTROLWORD', '<controlword>');
