/**
 * Кастомизация светлой темы
 */

/* Логотип */
#logo {
    background: url(/img/logo.png);
}

/* Маскот шапки (основной) */
.b-header-block.m-mascot-news, .b-header-block.m-mascot-fav {
    background: url(/img/mascot_hazmat.png) bottom center no-repeat;
}
.b-header-block.m-mascot-search {
    background: url(/img/mascot-investigator.png) bottom center no-repeat;
}
/* Маскот шапки (для отдельныйх досок) */
.b-header-block.m-mascot-alone {
    background: url(/img/mascot_keany.png) top center no-repeat;
    padding: 13.5px 0;
    margin-top: 1.5px;
}
.b-header-block.m-mascot-operate {
    background: url(/img/mascot_devarped.png) top center no-repeat;
    padding: 13.5px 0;
    margin-top: 1.5px;
}

/* Маскот в футере (основной) */
.l-footer-wrap.m-mascot-news, .l-footer-wrap.m-mascot-fav {
    background: url(/img/mascot_end.png) top center no-repeat;
}
/* Маскот в футере (для отдельныйх досок) */
.l-footer-wrap.m-mascot-alone {
    background: url(/img/mascot_keany_end.png) top center no-repeat;
}