/**
 * Кастомизация темной темы
 */

/* Логотип */
#logo {
    background: url(/img/ogol.png);
}

/* Маскот шапки (основной) */
.b-header-block {
    background: url(/img/tocsam.png) top center no-repeat;
}
.b-header-block.m-mascot-search {
    background: url(/img/mascot-investigator.png) bottom center no-repeat;
}
/* Маскот шапки (для отдельныйх досок) */
/* ... */

/* Маскот в футере (основной) */
.l-footer-wrap {
    background: url(/img/dne_tocsam.png) top center no-repeat;
}
/* Маскот в футере (для отдельныйх досок) */
/* ... */