# Admin panel credentials
ADMIN_LOGIN=admin
ADMIN_PASSWD=

# DB credentials
MARIADB_DATABASE=1chan
MARIADB_USER=user
MARIADB_PASSWORD=

# Salt & token (generate by `openssl rand -hex <length>`)
MD5_SALT=
CHANNEL_SALT=
SIO_TOKEN=

# Host
WEB_DOMAIN=
DEFAULT_TIMEZONE=Europe/Moscow

# Themes (see www/css/themes)
COLOR_THEMES=normal|omsk

# Moderation password of common room
COMMON_ROOM_CONTROLWORD=

# Endpoint for all gates
#GATE_ENDPOINT_HOST=onechan

# Uncomment to enable torgate (and use `svc.torgate.enable=true` helm option)
#TORGATE_HOSTNAME=yourhost.onion
#TORGATE_PUBLIC_KEY=ed25519_public_key_in_base64
#TORGATE_PRIVATE_KEY=ed25519_private_key_in_base64

# Uncomment to enable I2Pgate (and use `svc.i2pgate.enable=true` helm option)
#I2PGATE_PRIVATE_KEY=dat_private_key_in_base64

# Uncomment to enable Yggdrasil Network gate (and use `svc.yggdrasilgate.enable=true` helm option)
#YGGDRASILGATE_PRIVATE_KEY=private_key_in_default_format

### Customization ###

# Poo-chan (true|false)
ENABLE_POO=true
# Poo-chan storage time (in hours)
POO_EXPIRY_TIME=24

# Order of rates button (`up|down` or `down|up`)
RATE_BUTTON_ORDER=up|down

# `true` to enable telegram bot news reposts
TG_ENABLE=

# Telegram bot credentials
TG_BOT_TOKEN=<your:token>
TG_CHANNEL_ALL=@your_handle
TG_CHANNEL_APPROVED=@your_approved_handle

# Text & icons (see www/ico)
HOME_FAVICON=1chan.ru.png
COPYRIGHT_MSG=Все права пренадлежат вам © 
FAVORITES_ICON=fav-icon.png
APPROVED_ICON=tick.png
ALL_ICON=poo-icon.png
META_DESCRIPTION=Первый канал интернетов
META_KEYWORDS=Колчан, колчок, крокодил, залупа, сыр

# RSS
RSS_MANAGING_EDITOR=your@email.com
RSS_CHANNEL_DESCRIPTION=Новости имиджборд и не только.

# Schedulers (cron format)
INDEXER_SCHEDULE=0 0 * * *
SERVER_STATUS_SCHEDULE=*/30 * * * *
SERVER_STATUS_PROXY=
SERVER_STATUS_TIMEOUT=5000

# Force update files on client side
CSS_VERSION=?1
JS_VERSION=?1
ICONS_VERSION=?1
